<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Missions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mars Missions</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
        </div>
    </div>

    <div class="container-fluid">
        <h2><b>Mars News, latest and greatest from the Red Sand</b></h2>
        <h5>{{ mars_info.news_title }}</h5>
        <p>{{ mars_info.news_p }}</p>
    </div>

    <div class="container-fluid">
        <h2><b>Featured Image</b></h2>
        <img src="{{ mars_info.featured_image }}" alt="Featured Mars Image" style="max-width:600px; max-height: 800px;">
    </div>

    <div class="container-fluid">
        <h2><b>Facts and Data</b></h2>
        <div>{{ mars_info.mars_facts |safe }}</div>
    </div>

    <div class="container-fluid">
        <h2><b>Hemisphere Images</b></h2>
        <div class="row">
            {% for image in mars_info.hem_images %}
            <div class="col-md-6">
              <div class="card" style="size: 25rem;">
                <img src="{{ image.image_url }}" class="card-img-top">
                <div class="card-body">
                  <p class="card-text"><b> {{ image.title }} </b></p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
</body>

</html>
